<footer>
    <nav id="navbar">
        <ul id="navbarList">
            <li class="navElement"><a href="home.html"><h1 class="navIcon"><i class="fa-solid fa-house"></i></h1></a></li>
            <li class="navElement"><a href="home.html"><h1 class="navIcon"><i class="fa-solid fa-calendar-days"></i></h1></a></li>
            <li class="navElement"><a href="home.html"><h1 class="navIcon"><i class="fa-solid fa-message"></i></h1></a></li>
            <li class="navElement"><a href="home.html"><h1 class="navIcon"><i class="fa-solid fa-user"></i></h1></a></li>
        </ul>
    </nav>
</footer>