<footer>
    <nav id="navbar">
        <ul id="navbarList">
            <li class="navElement"><a href="/home"><h1 class="navIcon"><i class="fa-solid fa-house"></i></h1></a></li>
            <li class="navElement"><a href="/calendar"><h1 class="navIcon"><i class="fa-solid fa-calendar-days"></i></h1></a></li>
            <li class="navElement"><a href="/placements"><h1 class="navIcon"><i class="fa-solid fa-network-wired"></i></h1></a></li>
            <li class="navElement"><a href="/profile"><h1 class="navIcon"><i class="fa-solid fa-user"></i></h1></a></li>
        </ul>
    </nav>
</footer>

