*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFE2FC;
    font-family: Arial, Helvetica, sans-serif;

}

#AppHeader{
    background-color: #78296B;
    width: 100%;
    color: white;
    height: 75px;
    line-height: 75px;
    padding-left: 15px;
    margin-bottom: 25px;
    font-size:2em;
    
}

#mainInfo{
    background-color: #F8F8F8;
    padding: 20px;
    margin:20px;
}


#greetingBox{
    margin-bottom: 50px;
}    

#shiftDetails{
    background-color: #F6A2A2;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.75em;
}

#navbar{
    bottom: 0;
    width: 100%;
    background-color: #C2B3B3;
    overflow: hidden;
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#navbarList{
    text-align: center;
}

.navIcon{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #877272;
    display: inline;
    font-size: 3.5em;
    padding-left: 5%;
    padding-right: 5%;
}

.navElement{
    display: inline;
}

main {
    background-color: #F8F8F8;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.75em;
}