*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("RGU_People_Image_1.jpg");
    background-color: rgb(231, 220, 231);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#AppHeader{
    background-color: #78296B;
    width: 100%;
    color: white;
    height: 75px;
    line-height: 75px;
    padding-left: 15px;
    margin-bottom: 25px;
    font-size:2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logout{
    text-decoration: none;
}

#mainInfo{
    background-color: #F8F8F8;
    padding: 20px;
    margin:20px;
}


#greetingBox{
    margin-bottom: 50px;
}    

#shiftDetails{
    background-color: #F6A2A2;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.75em;
}

#navbar{
    bottom: 0;
    width: 100%;
    background-color: #C2B3B3;
    overflow: hidden;
    position: sticky;
    z-index: 1000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#navbarList{
    text-align: center;
}

.navIcon{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #877272;
    display: inline;
    font-size: 3.5em;
    padding-left: 5%;
    padding-right: 5%;
}

.navElement{
    display: inline;
}

#mainbackground, .NewsBlock {
    border-radius: 15px;
    padding: 30px;
}

#mainbackground{
    background-color: rgba(248, 248, 248, 0.75);
}

.NewsBlock{
    background-color: rgba(155, 154, 154, 0.75);
    margin-bottom: 10px;
}