body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url('../images/ocean.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sprite {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    transition: left 0.75s ease, top 0.75s ease; /* Time for sprite to get to click */
}

.redirect-area {
    position: absolute;
    width: 10em;
    height: 10em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: scale 0.5s;

}

.redirect-area:hover{
    scale: 1.25 1.25;
    transition: scale 0.5s;
}

/*Change to px of relevant location*/
#area1 {
    top: 100px;
    left: 475px;
    background-image: url('../images/island1.png');
    
}

#area2 {
    top: 450px;
    left: 375px;
    background-image: url('../images/island2.png');
}

#area3 {
    top: 250px;
    left: 950px;
    background-image: url('../images/island3.png');
}
