*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("RGU_People_Image_1.jpg");
    background-color: rgb(231, 220, 231);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

#AppHeader{
    background-color: #78296B;
    width: 100%;
    color: white;
    height: 75px;
    line-height: 75px;
    padding-left: 15px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:2em;
    
}

#logout{
    visibility: hidden;
}

.startPageBox{
    background-color: #FFE2FC;

    display: flex;
    justify-content: center;
    align-items: center;
    border: #78296B 1px solid;
    border-radius: 5px;
    margin: 25px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


#introText{
    background-color: rgba(255, 226, 252, 0.8);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#loginForm, #signupForm{
    background-color: rgba(255, 226, 252, 0.8);
    justify-content: center;
    align-items: center;
    margin: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

input{
    margin-bottom: 15px;
}

.adBanner{
    display: inline-block;
}