<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - RGUWork</title>
        <link rel="stylesheet" href="css/home.css">
        <script src="js/home.js"></script>
        <!--<script src="https://kit.fontawesome.com/5091f92224.js" crossorigin="anonymous"></script>-->
        <script src="js/calendarDay.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    </head>
    <body>
        
        <%- include('../partials/header') %>

        <main>
            <div id="mainbackground">
                <h1 id = "greeting"></h1> <h1><%= username %></h1>

                <div id = "nextShift">
                    <h1>Your next shift is:</h1>

                    <div id = "shiftDetails">
                        <!-- Placeholder Info -->
                        <p id = "nextShiftDate">20/02/25 | 12:00 - 14:30</p> <!-- Date/Time -->
                        <p id = "jobRole">IT Assistant</p> <!-- Job Role -->
                        <p id = "jobLoc">RGU IT Help-Desk</p> <!-- Job Role Contin-->
                        <p id = "jobBuilding">Ishbel Gordon Building</p> <!--Job location-->
                    </div>
                </div>

                <div id="calendarBlock">
                    <div id = "calendar">
                        
                    </div>
                </div>


                    <div id = "News">
                        <h1>News</h1>
                        <div class = "NewsBlock">
                            <h2>News Title 1</h2>
                            <p>News info goes here</p>
                        </div>
                        <div class = "NewsBlock">
                            <h2>News Title 2</h2>
                            <p>News info goes here</p>
                        </div>
                        <div class = "NewsBlock">
                            <h2>News Title 3</h2>
                            <p>News info goes here</p>
                        </div>
                    </div>

            </div>

    </main>

    <%- include('../partials/footer') %>

    </body>
</html>