<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calendar - RGUWork</title>
        <link rel="stylesheet" href="css/home.css">
        <script src="scripts/home.js"></script>
        <script src="https://kit.fontawesome.com/5091f92224.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <%- include('../partials/header') %>
        <div class="pl-header">
            <h1>Placements</h1>
        </div>


        <section id="createPost">
                
            <button onclick="openCreatePost()" id="createPostBtn">Add Placement</button>
        </section>
        
        <section id="createPostPopUp">
             <!-- <form action="/addPost"  method="POST"> -->
            <form  method="POST">
                <div class="postDetails">
                    <input type="text" placeholder="Title" name="title">
                    <input type="text" placeholder="Header Image" name="headerImg">
                    <select name="category">
                        <option value="news" name="News">News</option>
                        <option value="gaming">Gaming</option>
                        <option value="food & drink">Food & Drink</option>
                        <option value="sports">Sports</option>
                    </select>
                    <textarea name="description" rows="10" cols="90"></textarea>
                </div>
                <div class="postButtons">
                    <button type="submit">Publish</but>
                </div>
            </form>
            <button onclick="closeCreatePost()" id="closeCreatePostBtn">Close</button>
        </section>
        <main class="pl-main">
            


            <div class="pl-container">
                <div>
                    <h1>Placement 1</h1>
                    <img src="assets/placeholder-placement.jpg" class="pl-image" alt="Placement 1">
                    <p>Here is a brief description of this placement, where it is what 
                        its about etc etc and then compnay can input link to sign up here</p>
                    
                </div>
            </div>

            <div class="pl-container">
                <div>
                    <h1>Placement 2</h1>
                    <img src="assets/placeholder-placement.jpg" class="pl-image" alt="Placement 1">
                    <p>Here is a brief description of this placement, where it is what 
                        its about etc etc and then compnay can input link to sign up here</p>
                    
                </div>
            </div>

            <div class="pl-container">
                <div>
                    <h1>Placement 3</h1>
                    <img src="assets/placeholder-placement.jpg" class="pl-image" alt="Placement 1">
                    <p>Here is a brief description of this placement, where it is what 
                        its about etc etc and then compnay can input link to sign up here</p>
                    
                </div>
            </div>

            
                

               

        </main>

        <%- include('../partials/footer') %>

    </body>
</html>