<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio - Sonica Work</title>
        <link rel="stylesheet" href="css/home.css">
        <script src="https://kit.fontawesome.com/5091f92224.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <%- include('../partials/header') %>

        <main class= "portfolio">
            
            <div class="portfolio-header">
                <h1>Portfolio</h1>
            </div>
            
            <section>
                <h2>Projects</h2>
                <div class="project">
                    <h3>Project One</h3>
                    
                    <p>BLAH BLAH BLAH.</p>
                </div>
                
                <div class="project">
                    <h3>Project Two</h3>
                    <p>BLAH BLAH BLAH.</p>
                </div>
            </section>

        </main>

        <section class="upload-section">
            
            <h2>Upload Your CV</h2>
            
            <input type="file" id="cv-select" accept="image, file" />
            <br>
            <button>Upload</button>
        
        </section>

        <%- include('../partials/footer') %>

    </body>
</html>

</main>