<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio - Sonica Work</title>
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <script src="https://kit.fontawesome.com/5091f92224.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <%- include('../partials/header') %>

        <main class= "portfolio">
            
            <div class="portfolio-header">
                <h1>Portfolio</h1>
            </div>
            
            <section>
                <h2>Projects</h2>

                <div class="portfolioProject" style="width:50%">
                    <div class="w3-display-container w3-text-white">
                      <img src="img_london.jpg" alt="Lights" style="width:100%">
                    </div>
                    <div class="w3-row">
                      <div class="w3-third w3-center">
                        <h3>MON</h3>
                        <p> blah blah blah </p>
                    </div>
                </div>
                
                <div class="project">
                    <h3>Project Two</h3>
                    <p>BLAH BLAH BLAH.</p>
                </div>
                
            </section>


            <section class="upload-section">
            
                <h2>Upload Your CV</h2>
                
                <input type="file" id="cv-select" accept="image, file" />
                <br>
                <button>Upload</button>
            
            </section>

            <section class="adBanner">
                <%- include('../partials/ads') %>
            </section>

        </main>

        <%- include('../partials/footer') %>

    </body>
</html>

</main>