<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio - Sonica Work</title>
        <link rel="stylesheet" href="css/home.css">
        <script src="https://kit.fontawesome.com/5091f92224.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <%- include('../partials/header') %>

        <main class= "portfolio">
            
            <div class="portfolio-header">
                <h1>Portfolio</h1>
                <h2>Projects</h2>
            </div>
            
            <section id="projects">
                <div class="portfolioProject">
                    <div class="portfolioImg">
                      <img src="assets/watermelon.jpg" alt="Lights" style="width:100%">
                    </div>
                    <div class="portfolioText">
                      <div>
                        <h3>3D Model and Render </h3>
                        <p> Last year, I developed my skills in blender and used them to create this 3D watermelon render. I believe my skills have improved since last time I...</p>
                      </div> 
                    </div>
                </div>
                
                <div class="portfolioProject">
                    <div class="portfolioImg">
                      <img src="assets/watermelon.jpg" alt="Lights" style="width:100%">
                    </div>
                    <div class="portfolioText">
                      <div>
                        <h3>3D Model and Render </h3>
                        <p> Last year, I developed my skills in blender and used them to create this 3D watermelon render. I believe my skills have improved since last time I...</p>
                      </div> 
                    </div>
                </div>

                <div class="portfolioProject">
                    <div class="portfolioImg">
                      <img src="assets/watermelon.jpg" alt="Lights" style="width:100%">
                    </div>
                    <div class="portfolioText">
                      <div>
                        <h3>3D Model and Render </h3>
                        <p> Last year, I developed my skills in blender and used them to create this 3D watermelon render. I believe my skills have improved since last time I...</p>
                      </div> 
                    </div>
                </div>

            </section>


            <section class="upload-section">
            
                <h2>Upload Your CV</h2>
                
                <input type="file" id="cv-select" accept="image, file" />
                <br>
                <button>Upload</button>
            
            </section>

            <section class="adBanner">
                <%- include('../partials/ads') %>
            </section>

        </main>

        <%- include('../partials/footer') %>

    </body>
</html>

</main>